<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--/static/style.css Вказуємо посилання на файл зі стилями -->
    <link rel="stylesheet"  href="/static/style.css"> 
    <script defer src= "/static/script.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="h1">
        <h1>Заголовок</h1>
    </div>
    <a href="/date">Дата</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, excepturi. Velit, adipisci, ut numquam quibusdam fugiat et expedita mollitia cumque facilis ducimus modi ullam veniam tenetur non illum reprehenderit amet!</p>
</body>
</html>